@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

    .navbar {
        max-width: 1400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px;
        margin: 15px auto;
    }
    .navbar a {
        text-decoration: none;
        color: hsl(0, 0%, 41%);
        padding: 10px;
    }

    .nav-container {
        display: flex;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border-radius: 15px;
        margin-top: 15px;
        z-index: 1;
    }
    
    .dropdown-content a {
        display: flex;
        margin: 15px;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .navbar .nav-right #register {
        background-color: hsl(0, 0%, 98%);
        border-radius: 15px;
        color: hsl(0, 0%, 41%);
        padding: 10px;
        border: 2px solid hsl(0, 0%, 41%);
    }
    
    .container {
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 25px;
        margin: auto;
    }
    .hero-content {
        display: flex;
        flex-direction: column;
    }
    .hero-content-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .hero-content-bottom {
        display: flex;
        
    }
    
    .hero-content h1 {
        font-size: 60px;
        color: hsl(0, 0%, 8%);
        margin-bottom: 60px;
        margin-top: 0px;
    }
    
    .hero-content p {
        font-size: 18px;
        color: hsl(0, 0%, 41%);
        max-width: 450px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 60px;
    }
    
    .hero-content button {
        background-color: hsl(0, 0%, 8%);
        width: 170px;
        height: 55px;
        border-radius: 15px;
        color: hsl(0, 0%, 98%);
        font-size: 18px;
    }
    
    .hero-content button:hover {
        background-color: hsl(0, 0%, 98%);
        width: 170px;
        height: 55px;
        border-radius: 15px;
        color: hsl(0, 0%, 8%);
        font-size: 18px;
    }
    
    .hero-img {
        display: flex;
        max-width: 500px;
    }
    
    .hero-img img {
        width: 100%;
        height: auto;
    }
    
    .clients {
        max-width: 1200px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 25px;
        margin: 25px auto;
    }
    
    .clients img {
        margin-left: 10px;
    }

    .hamburger {
        display: none;
    }


